body{
	background: #333;
}
/* Bootstrap */
.container{
	background: white;
	min-height: 45vh;
	margin-top: 0;
}
.jumbotron{
	border-radius: 0;
	margin-bottom: 0;
}

/* Custom */
.btn-container{
	padding: 20px;
}