body{
	background: #353e49;
}
table{
	width: 100%;
}
th{
	width: 33.3%;
}
td{
	width: 33.33%;
}
/* Bootstrap */
.container{
	background: white;
	min-height: 45vh;
	margin-top: 0;
}
.jumbotron{
	border-radius: 0;
	margin-bottom: 0;
	background-color: #231f20;
}
.btn-secondary{
	background-color: #272f38;
}
.btn-secondary:hover{
	background-color: #3d4a59;
}
.table .thead-dark th{
	background-color: #272f38;
}
.display-3{
	color: white;
}
.margin-0{
	padding: 0;
}

/* Custom */
.btn-container{
	padding: 20px;
}
.td{
	width: 33.33%;
}
.mAuto{
	margin: auto;
}
.dBlock{
	display: block;
}
.logo{
	width: 100px;
}
.r-align{
	text-align: right;
	display: block;
}
.member-popup{
	color: #ff706c;
	cursor: pointer;
}
.member-popup:hover{
  color: #272f38;
}
tr:hover .member-popup {
	text-decoration: underline;
}
h3{
	font-size: 2em;
}
select{
	display: block;
}
.sort-icon{
	font-size: 1.9em !important;
	cursor: pointer;
}
.sort-icon:hover{
	color: #ff706c;
}

/* Modal styling */
.member-modal{
	z-index: 98;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: none;
	display: none;
	position: fixed;
}
.add-member-modal{
	z-index: 98;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: none;
	display: none;
	position: fixed;
}
.member-modal-info{
	z-index: 99;
	background: #fff;
	width: 800px;
	margin: 10% auto;
}
.close-bar{
	font-size: 50px;
	text-align: right;
	padding: 0 20px;
	cursor: pointer;
	background-color: #272f38;
	color: #edf1f7;
}
.close-bar:hover{
	color: black;
}
.close-modal-btn{
	padding-bottom: 15px;
}
.modal-para{
	font-size: 1.3em;
}
.add-member-label{
	font-size: 1.4em;
}
.modal-data{
	padding: 15px 50px;
}
.add-member-btn{
	margin-top: 15px;
}

@media only screen and (max-width: 990px){
	h1{
		text-align: center;
		margin: auto;
	}
	.display-3{
		text-align: center;
		font-size: 4em;
	}
	#addNewMemberBtn{
		margin-top: 15px;
	}
}
@media only screen and (max-width: 767px){
	.member-modal-info{
		width: 100%;
		height: 100%;
		margin: 0;
		overflow: auto;
		position: block;
	}
	.modal-data{
		padding-left: 5px;
		padding-right: 5px;
	}
	.r-align{
		text-align: left;
	}
	.row{
		margin: 0;
	}
}